# Chicago 1950

prepare data for distortion calculation, test, compare

In [1]:
import divergence_ekli_distortion as div
import divergence_compare as com

In [3]:
chicago=div.read_file('/Users/jvaes/Documents/chicago/data/fwdfwchicago1950censusbytract/chicago_1950_tracts/1950incomeCHI.shp')

In [4]:
chicago.head()

,NHGISST,NHGISCTY,GISJOIN,GISJOIN2,SHAPE_AREA,SHAPE_LEN,nhgis0016_,nhgis001_1,nhgis001_2,nhgis001_3,...,B0E007,B0E008,B0E009,B0E010,B0E011,B0E012,B0E013,B0E014,B0E015,geometry
0,170,0310,G17003100846,17003100846,2.614179e+06,7225.666141,1950,Illinois,17,Cook,...,415,360,340,255,415,285,300,140,420,"POLYGON ((685476.7393863574 509025.6236453776,..."
1,170,0310,G17003100867,17003100867,3.333835e+05,2470.031843,1950,Illinois,17,Cook,...,130,90,65,80,135,75,100,5,25,"POLYGON ((687619.6943893731 508023.3009851112,..."
2,170,0310,G17003100865,17003100865,6.513552e+05,4043.590886,1950,Illinois,17,Cook,...,215,155,130,85,125,65,95,30,50,"POLYGON ((686059.3572701956 507863.6809653796,..."
3,170,0310,G17003100863,17003100863,7.972477e+04,1188.376310,1950,Illinois,17,Cook,...,30,25,30,15,35,15,5,10,5,"POLYGON ((687112.3453625296 508798.6291569208,..."
4,170,0310,G17003100864,17003100864,8.086402e+04,1222.599607,1950,Illinois,17,Cook,...,90,30,20,20,35,35,30,10,20,"POLYGON ((687515.20576993 508834.0681936329, 6..."

In [5]:
import numpy as np, random as rd

In [9]:
l=[1,2,4,6]
g=l.copy()
g.remove(6)
print(g,l)

[1, 2, 4] [1, 2, 4, 6]

In [19]:
data=div.pd.DataFrame(l,index=[i for i in range(4)])

In [20]:
data['other']=div.pd.Series([1,1,1,1],index=[i for i in range(4)])

In [26]:
data['sum']=data.sum(axis=1)

In [27]:
data

   0  other  sum
0  1      1    2
1  2      1    3
2  4      1    5
3  6      1    7